.git
.github
.idea
.codex
.shared
.wiki
.windsurf
.DS_Store

appstore
dist
prebuilt
var

img.png
img_1.png

README.md
README_EN.md
LICENSE
Makefile
package.sh

docker-compose.yml
docker-compose-*.yml
Dockerfile.agent

docs
!docs/external_ips.txt
